@{
    ViewBag.Title = "Home Page";
}

@* This is now passed via home controller to _layout.cshtml *@
    @*<p class="text-center"><a href="~/Insuree/Create" class="btn btn-secondary">Click for Free Quote &raquo;</a></p>*@


<div class="jumbotron cci-alfa">
    <img src="~/Content/Images/alfa1.jpg" />
</div>
