<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6    mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Sign up to our newlsletter</h5>
        </div>
        <div class="card-body">
            @*When we click submit, the server collects the input from the form and sends to Signup action method in Home controller*@
            @*The mapping of these fields to the parameters in the action method is called Model Binding*@
            @using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
            {
                <div class="row no-gutters">
                    <div class="form-group col-md-12">
                        @* This is an HTML helper.  To pass in Classes and other attributes, create an annonymous object *@
                        @Html.TextBox("FirstName", null, new { @class = "form-control", @placeholder = "First Name" })
                        @*<input class="form-control" name="FirstName" placeholder="First Name" type="text" />*@
                    </div>
                    <div class="form-group col-md-12">
                        <input class="form-control" name="LastName" placeholder="Last Name" type="text" value="" />
                    </div>
                    <div class="form-group col-md-12">
                        <input class="form-control" name="EmailAddress" placeholder="Email Address" type="email" />
                    </div>
                    <button type="submit" class="btn btn-block btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>