@{
    ViewBag.Title = "Home Page";
}

@*<link href="~/Content/CSS/car-insurance.css" rel="stylesheet" type="text/css" />*@



<div class="jumbotron text-center bg-alfa-green"  >
    <h1>Cascade Car Insurance</h1>
    <p class="lead">We Insure Specialty Cars</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Click for Free Quote &raquo;</a></p>
</div>

<main>
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
    Hey you <br />
</main>