@{
    ViewBag.Title = "Home Page";
}

@*<link href="~/Content/CSS/car-insurance.css" rel="stylesheet" type="text/css" />*@



<div class="jumbotron text-center cci-jumbotron"  >
        <h1 style="font-size: 3.0rem">Cascade Car Insurance</h1>
        <p><i>We Insure Specialty Cars</i></p>
        <p><a href="~/Insuree/Create" class="btn btn-secondary">Click for Free Quote &raquo;</a></p>
</div>

<div class="jumbotron cci-alfa">
    <img src="~/Content/Images/alfa1.jpg" />
</div>