body {
}

main {
    /*background: url('../images/Alfa.jpg') repeat center;*/
}

:root {
    --alfa-green: #ecece5;
    --alfa-dk-green: #d1d6c7;
    --alfa-red: #ad3064;
    --alfa-dk-red: #a14a66;
}

div.cci-jumbotron {
    border-width: 3px;
    border-style: solid;
    border-color: var(--alfa-dk-red);
    position: relative;
    background-color: transparent;
}
/*
    This pseudo element is a cool way to change the opacity of a background image for the jumbotron
    while maintining the opacity of the overlying text.
*/
div.cci-jumbotron::after {
    content: "";
    background-image: url('../images/alfa-wall.jpg');
    opacity: 0.45;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

div.cci-alfa {
    border-width: 3px;
    border-style: solid;
    border-color: var(--alfa-dk-red);
    padding: 0rem;
}

/* override styling for the bootstrap jumbotron */
.jumbotron img {
    width: 100%;
}

.jumbotron p {
    color: var(--alfa-dk-red);
    font-size: 1.50rem;
    font-weight: 400;
}

.btn-primary {
    color: #000;
    background-color: var(--alfa-dk-green);
    border-color: var(--alfa-red);
}

.btn-primary:focus {
    color: #000;
    background-color: var(--alfa-dk-green);
    border-color: var(--alfa-red);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--alfa-dk-red);
    border-color: var(--alfa-dk-red);
}

.btn-primary:active {
    color: #fff;
    background-color: var(--alfa-dk-red);
    border-color: var(--alfa-dk-red);
    }

.form-control:focus, .btn:focus {
    box-shadow: 4px 5px 4px var(--alfa-dk-green);
    /*outline: none;*/
    border-color: var(--alfa-dk-red);
}