
@{
    ViewBag.Title = "Add";
}

<h2>Add a Student Here</h2>

<form submit="/Add" method="post">
    <input name="firstName" placeholder="First Name"/>
    <input name="lastName" placeholder="Last Name"/>
    <button name=submit>Add Student</button>
</form>

